@media screen and (min-width:825px) {
    

body{
    background-color: rgb(131, 224, 255);
}
.display-1{
    background: linear-gradient(90deg, rgba(76,194,21,1) 3%, rgb(57, 168, 79) 31%, rgba(0,212,255,1) 100%);
    border:1px solid rgb(7, 7, 7);
    margin:80px;
    text-align: center;
    border-radius: 18px 0px 18px 0px;
    box-shadow: 5px 25px 25px 5px #000000;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(78, 78, 78)
}
li{
    display: inline-block;
    padding: 14px 16px;
    color: lightsalmon;
}
li a{
    
    padding: 14px 16px;
    color: lightsalmon;
}}

























@media screen and (min-width:224px) and (max-width:824px)  {
    body{
        background: lemonchiffon;
        font-size: 10px;
        margin:6px;
    }
    .display-1{
        text-align: center;
        font-size: 15px;
        background:-webkit-linear-gradient(top, rgb(101, 190, 241) 30%, rgb(73, 113, 187) 70%);
        background-clip:text;
        -webkit-background-clip:text;
        border: black 1px solid;
        padding: 15px;
    }
    h2{
        text-decoration: underline;
        text-align: center;
    }
    .responsive{
        width: 100%;
        height: 100%;
    }
    .col-4{
        box-sizing: content-box;
        margin: 10px;
    
    }
    
    .container{
        align-items: center;
    }
}